@font-face {
    font-family: "blazed";
    src: url("./Blazed.ttf");
}

body{
    margin: 0px;
    font-family: "blazed";
    color: #1eff00;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 1em black;
}

.homeGif {
    background-image: url('https://media.giphy.com/media/fHuAFxfYtTyTX9j8l9/giphy.gif');
}
.page1Gif {
    background-image: url('https://media.giphy.com/media/lcMOOkmShsiDs7AD2j/giphy.gif');
}
.page2Gif {
    background-image: url('https://media.giphy.com/media/xT9IgOs1mJhBdSxZYc/giphy.gif');
}




.center {
    margin: 5vh 5vw;
    background-size: 10% 20%;
    width: 90%;
    height: 90%;
}

.leftNavigation {
    position: relative;
    height: 90%;
    width: 5%;
    float: left;
    background-size: 100%;
}

.leftNavigation h2 {
    float: right;
    position: relative;
    top: 10px;
}

.rightNavigation {
    position: relative;
    height: 90%;
    width: 5%;
    float: right;
    background-size: 100%;
}

.rightNavigation h2 {
    float: left;
    position: relative;
    top: 10px;
}

.rightNavigation img {
    transform: rotateY(180deg);
}

.arrow {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

.page1 {
    background-color: #fecc33;
}

.page2 {
    background-color: #143bef;
}

.home {
    background-color: #fe5a17;
}

h1 {
    text-align: center;
}
h2 {
    text-orientation: upright;
    writing-mode: vertical-rl;
}


.scroll-left {
    height: 20px;	
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
    background: yellow;
    position: fixed;
    border: 1px solid orange;
    z-index: 10;
   }
   .scroll-left div {
        width: 100%;
        height: 100%;
        margin: 0;
        animation: scroll-left 30s linear infinite;
   }
   /* Move it (define the animation) */
   @keyframes scroll-left {
        0%   {
        transform: translateX(100%); 		
        }
        100% {
        transform: translateX(-100%); 
        }
   }

.bottom {
    padding:0px;
    margin:0px;
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    z-index:1;
}

.bottom img {
    height: 25px;
}
.youtube {
    left: 50px;
}
.store {
    right: 50px;
}
.overview {
    background-color: yellow;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 20px;
    text-align: center;
    border-color: #1eff00;
    border-style: solid;
    border-width: 20px;
}
.centerImg {
    position: relative;
    top: 25px;
    height: 200px;
    border-color: #1eff00;
    border-style: dotted;
    border-width: 20px;

}
.leftImg {
    position: relative;
    top: 25vh;
    right: 100px;
    height: 100px;
    border-color: #1eff00;
    border-style: dashed;
    border-width: 5px;
    z-index:2;
}
.rightImg {
    position: relative;
    top:20vh;
    height: 200px;
    left: 100px;
    border-color: #1eff00;
    border-style: double;
    border-width: 80px;
    z-index:2;
}
.marginAuto {
    display: flex;
    justify-content: center;
}

.danger {
  position: fixed;
  top: 200px;
  right: 200px;
  z-index: 3;
}
.first-li p {
    position: relative;
    z-index:4;
}

.second-li {
    position: relative;
    bottom: 50px;
    z-index:5;
}


strong {
    font-family: "Brush Script MT";
    font-size: 30;
    color:white;
}
.recipe {
    position: absolute;
    top: 120%;
    left: 200px;
    width: 500px;
    z-index: -1;
}
.container {
    position: absolute;
    top: 30px;
    left: 0;
    z-index:1;
}
.notion {
    text-shadow: none;
    position: fixed;
    bottom: 200px;
    left: 200px;
    background-color: white;
    z-index:5;
    animation: blinker 3s linear infinite;
}

#toolate {
    position: fixed;
    bottom: 400px;
    right: 300px;
    background-color: rgb(0, 0, 0);
    z-index:5;
    color: white;
    font: times;
    font-size: 300%
}

#id1 {
    font-size: 200%;
    color: pink;
    background-color: rgb(0, 0, 0);
    font-family: arial;
}
#id2 {
    font-size: 300%;
    color: blue;
    background-color: rgb(58, 59, 0);
    font-family: "Palatino";
}
#id3 {
    float: right;
    font-size: 100%;
    color: white;
    background-color: rgb(0, 14, 59);
    font-family: arial;
}

#id4 {
    font-size: 200%;
    color: blue;
    background-color: lightblue;
    font-family: "Herculanum";
}
#seconds{
    font-size: 300px;
    color: rgb(255, 51, 0);
    background-color: rgb(230, 226, 173);
    font-family: "Herculanum";
}
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
.third-li {
    position: relative;
    z-index: 2;
}
.scream{
    text-align: left;
    font-size: 48px;
}